project:
  type: website
  output-dir: _output
  execute-dir: project
  preview:
    port: 7669
    browser: false

editor:
  render-on-save: false

execute:
  enabled: true
  cache: true
  freeze: auto
  daemon: 60
  message: false
  warning: false
  echo: true

lang: fr

author:
  - name: Your Name
    affiliation: Your company
    email: email@address
date: last-modified
repo-url: https://github.com/laguill/
repo-actions: [issue]
sharing: [linkedin]

website:
  title: "PLot debug"
  page-navigation: true
  back-to-top-navigation: true
  reader-mode: true
  open-graph: true

  page-footer:
    border: true
    left: |
      Powered by [{{< iconify simple-icons:quarto title="Quarto Logo" label="Quarto Logo" >}} Quarto](https://quarto.org).
    center: |
      &copy; []{#current-year} Your Name. {{< iconify octicon:heart-fill-16 title="Heart" label="Heart" >}}.
    right: |
      License: [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0).

format:
  html:
    comments:
      hypothesis: false
    code-fold: true
    code-copy: true
    toc: true
    code-summary: "Show the code"

    theme:
      light: flatly
      dark: darkly
    embed-resources: false
    self_contained: false
    page-layout: full

render:
  - "*.qmd"
